<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunji.server.mapper.ExerciseMapper">

    <select id="list" resultType="Exercise" parameterType="Exercise">
            select * from exercise_action
            <where>
                <if test="exerciseId != null">
                    and exercise_id = #{exerciseId}
                </if>
                <if test="exerciseName != null">
                    and exercise_name = #{exerciseName}
                </if>
                <if test="exerciseCategoryId != null">
                    and exercise_category_id = #{exerciseCategoryId}
                </if>
                <if test="exerciseDescription != null">
                    and exercise_description = #{exerciseDescription}
                </if>
            </where>
            order by created_time desc
    </select>

</mapper>
