<?xml version="1.0" encoding="UTF-8" ?>
   <!DOCTYPE mapper
           PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
           "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="com.xunji.server.mapper.PlanMapper">
       <select id="list" parameterType="com.xunji.pojo.entity.Plan" resultType="com.xunji.pojo.entity.Plan">
           select * from plan
           <where>
               <if test="name != null"> and name like concat('%',#{name},'%') </if>
               <if test="categoryId != null"> and category_id = #{categoryId} </if>
               <if test="status != null"> and status = #{status} </if>
           </where>
       </select>
   </mapper>
   