<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunji.server.mapper.ExerciseMapper">

    <select id="pageQuery" resultType="com.xunji.pojo.vo.ExerciseVO">
        select ea.*, ec.name as categoryName
        from exercise_action ea
        left outer join exercise_category ec on ea.category_id = ec.id
        <where>
            <if test="name != null and name != ''">
                and ea.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and ea.category_id = #{categoryId}
            </if>
        </where>
        order by ea.created_time desc
    </select>

    <select id="selectExercise" parameterType="com.xunji.pojo.entity.Exercise"
        resultType="com.xunji.pojo.entity.Exercise">
        SELECT * FROM exercise_action
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="image != null">
                AND image = #{image}
            </if>
            <if test="description != null">
                AND description = #{description}
            </if>
        </where>
    </select>

</mapper>
